:root{
    --conatairnerWidth:25vw;
}



main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
flex-direction: column;
    margin-top: 50px;
}

button {
    font-size: 1.5rem;
    margin: 5px 20px;
    padding: 0 20px;
    height: 38px;
    border-radius: 0.85rem;
    border: 0;
    background-color: var(--color1);
    color: white;
    transition: 0.5s;
}

button:hover {
    color: var(--color3);
}


.portfolio-search{
    display: block;
    width: 100%;
    height: 40px;
    background: red;
    text-align: center;
}
.portfolio-container {
    display: block;
    position: relative;
    width: var(--conatairnerWidth);
    height: var(--conatairnerWidth);
    background: var(--color2);
    border-radius: calc(var(--conatairnerWidth)/40);
    box-shadow: 0 5px 15px rgba(0,0,0, 0.2);
    text-align: center;
    overflow: hidden;
}

.portfolio-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(var(--conatairnerWidth)/1.6);
    background: gray;
    border: 0;
    overflow: hidden;
}

.portfolio-img>img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-technology-icons,
.portfolio-info{
    position: absolute;
    top: 0;
    left: 0;

    width: calc(100% - (var(--conatairnerWidth)/16)*2);
    height: 30px;
    background: red;
    z-index: 1;
}

.portfolio-info{

}

.portfolio-btn{
    position: absolute;
    width: calc(100% - (var(--conatairnerWidth)/16)*2);
    bottom: 2vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.portfolio-github,
.portfolio-link{
    display: inline-block;
    width: calc(50% - (var(--conatairnerWidth)/32));
    height: 36px;
    text-align: center;
    line-height: 36px;
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    border: 0;
    border-radius: 0.55rem;
    background: var(--color1);
}

.bi{
    font-size: 2.2rem;
    margin-right: 0.8rem;
    vertical-align: -.125em;
}