@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

button{
  display: inline-block;
  padding: 5px 10px;
  margin: 5px; 
  border: none;
  background-color: royalblue;
  color: white;
  font-size: 30px;
  min-width: 50px;
  height: 50px;
  cursor: pointer;
  outline: none;
}

button:disabled{
  opacity: 0.3;
}


div{
  line-height: 50px;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 30px auto;
}

span{
  /*margin: 0 10px;*/
  min-width: 50px;
  height: 50px;
  text-align: center;
}