@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.buttons {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;

}

button {
  font-size: 1.5rem;
  padding: 5px 10px;
  background-color: royalblue;
  color: white;
  border: none;
  margin: 0 10px;
  border-radius: 5px;
}

.space-for-squares {
  max-width: 800px;
  margin: 15% auto;
}

.box {
  float: left;
  animation: rotateNScale 0.5s both;
}

.box-jq {
  float: left;
  animation: rotateNScale 0.5s both;
}

@keyframes rotateNScale {
  0%{
    transform: rotate(840deg);
    width: 0;
    height: 0;
  }
  100% {
    transform: rotate(0deg);
    width: 100px;
    height: 100px;
  }
}