@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  width: 60vw;
  min-height: 100%;
  margin: 0 auto;
}

button {
  font-size: 20px;
  padding: 5px 10px;
  border: none;
  background-color: royalblue;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #84bfe7;
  color: black;
}


h1{
  font-size: 2rem;
  font-weight: normal;
}