@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
}

.container {
  flex-basis: 50%;
  height: 100vh;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  text-align: center;
  line-height: 100vh;
  font-size: 7vh;
}
.b-color {

  background-color: red;
}